<style>
  @import url('./styles/main.css');
  article .heading h2 {
    font-size: 2rem;
    color: purple;
  }
</style>
<article>
  <div class="heading">
    <h2>Concepts and usage</h2>
  </div>
  <div class="content">
    <p>
      As developers, we all know that reusing code as much as possible is a good
      idea. This has traditionally not been so easy for custom markup structures
      — think of the complex HTML (and associated style and script) you've
      sometimes had to write to render custom UI controls, and how using them
      multiple times can turn your page into a mess if you are not careful.
    </p>

    <p>
      Web Components aims to solve such problems — it consists of three main
      technologies, which can be used together to create versatile custom
      elements with encapsulated functionality that can be reused wherever you
      like without fear of code collisions.
    </p>
  </div>
</article>
