<section class="wrapper">
  <div class="content">

    <div class="poster">
      <mc-skeleton variant="img"></mc-skeleton>
    </div>

    <div class="details">
      <mc-skeleton variant="h2"></mc-skeleton>
      <mc-skeleton variant="h3"></mc-skeleton>

      <div class="overview-wrapper">
        <mc-skeleton variant="h4"></mc-skeleton>
        <mc-skeleton variant="p"></mc-skeleton>
        <mc-skeleton variant="p"></mc-skeleton>
        <mc-skeleton variant="p"></mc-skeleton>
      </div>

    </div>
  </div>
</section>
