
:host {
  width: 100%;
}

.person-card {

  .person-link {
    text-decoration: none;
    transition: var(--transition);
    p {
      color: #2b2b2b;
      font-size: 1.2rem;
      margin-bottom: 0;
      &:hover {
        color: var(--c-primary-dark);
        margin-bottom: 0;
        font-size: 1.2rem;
      }
    }
  }


  figure {
    width: 100%;
    min-height: 50%;

    img {
      width: 100%;
      height: auto;
    }
  }

  figcaption {
    padding-bottom: 1.6rem;
    p {
      color: #777;
      font-size: .8rem;
    }
  }

}
