
:host {
  width: 23%;
  overflow: hidden;
  @media screen and (max-width: 1024px) {
    width: 32%;
    overflow: hidden;
  }
  @media screen and (max-width: 760px) {
    width: 49%;
    overflow: hidden;
  }
  @media screen and (max-width: 440px) {
    width: 100%;
    overflow: hidden;
  }
  position: relative;
}

.movie-card {
  .movie-link {
    color: #4b4b4b;
    text-decoration: none;
    transition: var(--transition);
    &:hover {
      color: var(--c-primary-dark);
    }
  }
  .title {
    font-size: 1.4rem;
  }
  .poster {
    max-height: 50rem;
    width: 100%;
    object-fit: cover;
  }

  figcaption {
    padding-bottom: 1.6rem;
  }
}
