{{#> layout }}
<div class="home-page">
  <mc-hero
    heading="Discover"
    description="Millions of movies, TV shows and people to discover. Explore now."
  ></mc-hero>
  <div class="container">
    <mc-most-populars />
  </div>
</div>
{{/layout}}