{{#> layout }}
<div class="home-page">
  <mc-hero
    heading="Discover"
    description="Millions of movies, genres and people to explore. Start now."
    image="images/homepage.jpg"
  ></mc-hero>
  <div class="container">
    <mc-most-populars></mc-most-populars>
  </div>
</div>
{{/layout}}