<style>
  @import url('./styles/main.css');
</style>
<div class="home-page">
  <mc-hero
    heading="Discover"
    description="Millions of movies, TV shows and people to discover. Explore now."
    image="{{heroImage}}"
  ></mc-hero>
  <div class="container">
    <mc-article></mc-article>
    <mc-article></mc-article>
    <mc-article></mc-article>
    <mc-article></mc-article>
    <mc-article></mc-article>
  </div>
</div>