@import "../../styles/helpers";

.wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 650px;
  position: relative;
  display: none;
  justify-content: center;
  background-position: right -200px -50px;

  @include mobile {
    background-position: center center;
  }

  .content {
    background-image: linear-gradient(
      to right,
      rgb(51, 92, 125) 150px,
      rgba(0, 0, 0, 0.7) 100%
    );
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 650px;
    padding: 4rem 2rem 2rem 2rem;
    width: 100%;
    height: 100%;

    @include mobile {
      align-items: center;
      flex-direction: column;
      background-image: linear-gradient(
        to right,
        rgb(51, 92, 125, 0.9),
        rgba(0, 0, 0, 0.9)
      );
    }

    .poster {
      padding: 2rem;
      img {
        max-width: 380px;
        width: 100%;
      }
    }

    .details {
      min-height: 600px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @include mobile {
        min-height: 200px;

        & > div {
          margin-bottom: 2rem;
        }
      }
    }

    .overview-wrapper {
      color: #e1e0e0;
      max-width: 800px;

      h4 {
        font-size: 1.4rem;
        padding-bottom: 1rem;
        font-weight: 300;
      }
      p {
        font-size: 1rem;
      }
    }

    .fatcs {
      padding-top: 1rem;
      align-self: flex-end;

      .release-date {
        font-size: 1rem;
        color: #f2f2f2;
        display: inline-block;
        font-weight: 300;
        &::after {
          content: "-";
          margin: 0 0.6rem;
          display: inline-block;
        }
      }

      .genre-link {
        text-decoration: none;
        font-size: 1rem;
        color: #f2f2f2;
        display: inline-block;
        font-weight: 300;
        transition: all 0.4s ease;
        &:hover {
          color: var(--c-primary);
        }
        &:not(:last-child) {
          margin-right: 0.6rem;
          &::after {
            content: ",";
          }
        }
      }
    }
  }

  .heading {
    color: var(--c-primary);
    font-weight: 300;

    @include mobile {
      font-size: 2.6rem;
      text-align: center;
      margin-bottom: 0;
    }
  }

  .tagline {
    color: #b4b4b4;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    @include mobile {
      font-size: 1.2rem;
      text-align: center;
    }
  }
}
