{{> styles }}
<nav>
  <div class="main-heading">
    <a href="/"><h1>Movie Components</h1></a>
  </div>
  <ul class="nav-bar">
    {{#each navLinks}}
      <li>
        <a href="{{this.href}}">{{this.text}}</a>
        <span></span>
      </li>
    {{/each}}
  </ul>
</nav>
