<!DOCTYPE html>
<html>
  {{> head }}
  <body>
    <header>
      <mc-navigation></mc-navigation>
    </header>

    <main>
      {{> @partial-block }}
    </main>

    <footer>
      <mc-footer-content></mc-footer-content>
    </footer>
  </body>
</html>
