{{#> layout }}
<div class="search-page">
  <mc-hero
    heading="Search"
    description="Millions of movies, TV shows and people to discover. Explore now."
    image="images/search.jpg"
  ></mc-hero>
  <div class="container">
    <mc-article></mc-article>
    <mc-article></mc-article>
    <mc-article></mc-article>
    <mc-article></mc-article>
    <mc-article></mc-article>
  </div>
</div>
{{/layout}}