{{#> layout }}
<div class="home-page">
  <mc-movie-banner></mc-movie-banner>
  <div class="container">
    <section class="flex-group">
      <div class="small-column">
        <mc-movie-facts></mc-movie-facts>
        <mc-movie-keywords></mc-movie-keywords>
      </div>
      <div class="main-column">
        <mc-movie-cast></mc-movie-cast>
        <mc-movie-reviews></mc-movie-reviews>
      </div>
    </section>
  </div>
</div>
{{/layout}}