<div class="wrapper">
  <div class="heading">
    <h4>Status</h4>
  </div>
  <div id="status">
    <mc-skeleton variant="p"></mc-skeleton>
  </div>

  <div class="heading">
    <h4>Original Language</h4>
  </div>
  <div id="original_language">
    <mc-skeleton variant="p"></mc-skeleton>
  </div>

  <div class="heading">
    <h4>Budget</h4>
  </div>
  <div id="budget">
    <mc-skeleton variant="p"></mc-skeleton>
  </div>

  <div class="heading">
    <h4>Revenue</h4>
  </div>
  <div id="revenue">
    <mc-skeleton variant="p"></mc-skeleton>
  </div>
</div>
