{{#> layout }}
<div class="home-page">
  <mc-hero
    heading="404"
    description="The resource you requested could not be found."
  ></mc-hero>
  <div class="container">
    <mc-most-populars></mc-most-populars>
  </div>
</div>
{{/layout}}