<div class="wrapper">
  <div class="heading">
    <h3>Top Billed Cast</h3>
  </div>
  <ul id="list" class="list">
    <li>
      <mc-skeleton variant="img-small"></mc-skeleton>
    </li>
    <li>
      <mc-skeleton variant="img-small"></mc-skeleton>
    </li>
    <li>
      <mc-skeleton variant="img-small"></mc-skeleton>
    </li>
    <li>
      <mc-skeleton variant="img-small"></mc-skeleton>
    </li>
    <li>
      <mc-skeleton variant="img-small"></mc-skeleton>
    </li>
    <li>
      <mc-skeleton variant="img-small"></mc-skeleton>
    </li>
  </ul>
</div>